<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="title" content="Jishi AB - Jimmy Shimizu">
    <meta name="description" content="Experienced fullstack developer with broad knowledge about system architecture and performance">
    
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1><a href="{{ "/" }}">Jimmy Shimizu</a></h1>
        <h2>Jishi AB</h2>
        
        {% if site.logo %}
          <img src="{{site.logo | relative_url}}" alt="Logo" />
        {% endif %}

        <p>Experienced fullstack developer with broad knowledge about system architecture and performance, as well as clean coding with a big dose of maintainability. I try to follow DRY and KISS principles, take pride in chosing the most suitable tool for the job, and argue that the optimal software is the one that you build once and run forever.</p>

      </header>
      <section>

      {{ content }}

      </section>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
  </body>
</html>
